<p id="notice"><%= notice %></p>

<p>
  <strong>Behaviour:</strong>
  <%= @subcomponent.behaviour %>
</p>

<p>
  <strong>Refid:</strong>
  <%= @subcomponent.refid %>
</p>

<p>
  <strong>Ownerid:</strong>
  <%= @subcomponent.ownerid %>
</p>

<p>
  <strong>Editorid:</strong>
  <%= @subcomponent.editorid %>
</p>

<p>
  <strong>Followerid:</strong>
  <%= @subcomponent.followerid %>
</p>

<p>
  <strong>Views:</strong>
  <%= @subcomponent.views %>
</p>

<p>
  <strong>Viewable:</strong>
  <%= @subcomponent.viewable %>
</p>

<p>
  <strong>Active:</strong>
  <%= @subcomponent.active %>
</p>

<p>
  <strong>Title:</strong>
  <%= @subcomponent.title %>
</p>

<p>
  <strong>Subs:</strong>
  <%= @subcomponent.subs %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subcomponent.description %>
</p>

<p>
  <strong>Titleimage:</strong>
  <%= @subcomponent.titleimage %>
</p>

<p>
  <strong>Meat:</strong>
  <%= @subcomponent.meat %>
</p>

<%= link_to 'Edit', edit_subcomponent_path(@subcomponent) %> |
<%= link_to 'Back', subcomponents_path %>
